
/*////////////////////////////////////////////////////////////////////////////////////////////
                           INDEX ACERCA DE
////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////MAIN//////////////*/

.mainh__titulo{
    font-size: 55px;
    color: antiquewhite;
    padding-left: 0;
 }
 
 
 .mainh__padrebox{
 
    width:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 
 
 
 .mainh-padrebox__iframe{
    height: 600px;
    width: 400px;
    border-radius: 10px;
 }
 .mainh-padrebox__acercade{
    background-color: #D9D9D9;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
 }
 
 .mainh-padrebox__p{
    font-size: 28px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    
 
 }
 