/*////////////////////////////////////////////////////////////////////////////////////////////
                        BOOTSTRAP
////////////////////////////////////////////////////////////////////////////////////////////*/

.form-label{
    font-size: 20px;
    color: #fffcfc;
    font-family: sans-serif;
}
